@model IEnumerable<AccountModuleApp.Models.Branch>

<div class="navbar-text">
    <h4>All Branches</h4>
</div>
<table>
<tr>
    <th>Name</th>
    <th>Code</th>
    <th>Location</th>
    <th>Name</th>
</tr>
    <tbody?>
        @foreach (var branch in Model)
        {
            <tr>
                <td>@branch.BranchName</td>
                <td>@branch.BranchCode</td>
                <td>@branch.BranchLocation</td>

            </tr>
        }</tbody>

</table>
